@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    box-sizing: border-box;
    padding: 10px 25px 10px 25px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content:space-between
}

.box {
    color: rgb(175, 175, 175);
    font-size: 20px;
    font-weight: bold; 
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;    
}

a:link, a:visited {
    color: rgb(241, 241, 247);
    font-weight: bold;
    text-align: center;
    padding: 0px;
  }

.box1 {background:rgba(63, 62, 60, 0.9)}
.box2 {background:rgba(63, 62, 60, 0.9)}
.box3 {background:rgba(63, 62, 60, 0.9)}
.box4 {background:rgba(63, 62, 60, 0.9)}
.box5 {background:rgba(63, 62, 60, 0.9)}
.box6 {background:rgba(63, 62, 60, 0.9)}
.box7 {background:rgba(63, 62, 60, 0.9)}
.box8 {background:rgba(63, 62, 60, 0.9)}

.containerhead {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
    color: rgb(241, 241, 247);
    background-color: rgba(63, 62, 60, 1);
    background-image: url("bh7.jpg");
    text-shadow: 10px 10px 10px #030303;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.boxhead {
    text-shadow: 10px 10px 10px #030303;
}
 
.containerfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

body {
    background-image: url("bh8.jpg");
    background-color: rgb(250,235,215, 0);
    }

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    text-align: center;
    background-color: rgb(241, 241, 247, 0.5);
    text-shadow: 10px 10px 10px #4e4d4d;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
    text-align: justify;
    margin: 10px 15% 10px 15%;
    color: rgb(241, 241, 247);
    background-color: rgba(63, 62, 60, 0.9);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
}

video {
    align-self: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250,235,215, 0);
}

.vcenter {
    display: flex;
    max-width: 1028;
    max-height: 768;
    align-content:center;
    justify-content: center;
    margin: auto auto auto auto;
